<app-menu></app-menu>
<section id="main">
    <div class="row">
            <div class="col-md-6 first">
                    <div class="flip up left">
                            <div class="front" style="background-image: url('../../assets/images/techniques.jpg'); background-position: top left;">
                               <h1>Techniques</h1>
                            </div>
                            <div class="back">
                               <h2>Techniques</h2>
                               <p>◦ Développement:<br /> HTML/CSS/JS , C# , Java , C/C++ , SQL<br />◦ Notions de méthodes agiles et management</p>
                            </div>
                        </div>
                    <div class="flip left">
                            <div class="front" style="background-image: url('../../assets/images/technologiques.jpg')">
                               <h1>Technologiques</h1>
                            </div>
                            <div class="back">
                               <h2>Technologies</h2>
                               <p>◦ Web Angular/Bootstrap, Ruby on Rails<br />◦ Applications .Net, jQuery<br />◦ GitHub, déploiement et intégration continue</p>
                            </div>
                        </div>
            </div>
                <div class="col-md-6">
                        <div class="flip up right">
                                <div class="front" style="background-image: url('../../assets/images/linguistiques.jpg')">
                                   <h1>Linguistiques</h1>
                                </div>
                                <div class="back">
                                   <h2>Langues</h2>
                                   <p>◦ Anglais, pratique professionnelle<br />Bulats niveau C1 et 1 mois en entreprise à l'étranger<br />◦ Francais, langue maternelle</p>
                                </div>
                            </div>
                        <div class="flip right">
                                <div class="front rel" style="background-image: url('../../assets/images/relationnelles.jpg')">
                                   <h1>Relationnelles</h1>
                                </div>
                                <div class="back">
                                   <h2>Social</h2>
                                   <p>◦ Bon esprit d'équipe<br />Travailler en équipe / Manager une équipe<br />◦ Ambitieux, organisé, autonome et dynamique</p>
                                </div>
                            </div>
                </div>
    </div>
    <div class="arrow arrow-first"></div>
    <div class="arrow arrow-second"></div>
</section>