<section>
    <div class="menu-row">
        <app-menu></app-menu>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <!--<div class="container">
                <div class="title"><h1>Languages</h1></div>
                <div class="content">
                    <ul>
                        <h3>informatique</h3>
                        <li>HTML,CSS,JS</li>
                        <li>C#, Java, C/C++, SQL</li>
                    </ul>
                    <ul>
                            <h3>Linguistique</h3>
                            <li>Francais</li>
                            <li>Anglais</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <div class="container">
                    <div class="title"><h1>Savoir-faire</h1></div>
                    <div class="content"></div>
                </div>
            </div>
        <div class="col-md-3">
            <div class="container">
                <div class="title"><h1>Outils/logiciels</h1></div>
                <div class="content">
                    <ul>
                        <h3>Developpement Web</h3>
                        <li>Angular, Ruby on Rails, Travis CI</li>
                        <li>Bootstrap, Wordpress (Divi)</li>
                    </ul>
                    <ul>
                            <h3>General</h3>
                            <li>Pack Office (Word,Powerpoint,Excel)</li>
                            <li>Github</li>
                            <li>Labview</li>
                    </ul>
                    <ul>
                            <h3>Non professionnel</h3>
                            <li>Photoshop, Painter</li>
                            <li>Solidworks</li>
                    </ul>
                </div>
            </div>-->
        </div>
        <div class="col-md-1"></div>
    </div>
</section>