
body {
  font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 16px;
  line-height: 1.75;
}

#timeline {
  display: flex;
  background-color: #031625;
  margin-top: -70px;

  &:hover {
    .tl-item {
      width: 22%;
    }
  }
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
  
  &:before, &:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &:after {
    background: transparentize(#031625, 0.90);
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  &:before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  &:hover {
    width: 34% !important;
    .tl-logo{
      visibility: hidden;
      opacity: 0;
    }
    
    &:after {
      opacity: 0;
    }

    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0) translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }
    
    .tl-content {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.75s ease 0.5s;
    }

    .tl-year{
      top: 30%;
    }

    .tl-bg {
      filter: brightness(110%);
    }
  }
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 40%;
  opacity: 0;
  
  h1 {
    //font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color: cyan;
    font-size: 1.35rem;
    font-weight: normal;
    text-decoration: none;
  }
  p{
    font-size: 1.20rem;
  }
  li{
    list-style-type: none;
  }
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  padding-bottom: 10px;
  border-bottom: 2px solid cyan;
  text-align: center;
  transition: all 0.5s ease 0.3s;

  p {
    font-family: comfortaa;
    text-shadow: 1px 1px 2px black;
    font-size: 1.728rem;
    line-height: 0;
  }
}

.double{
  width:65%;
}
.tl-logo {
  visibility: visible;
  opacity: 1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top:70%;
  width: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  transition: all 0.5s ease;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: brightness(80%);
}

.l-ixblue{
  height: 12%;
}
.l-ge{
  height: 15%;
}
.l-itq9{
  height:12%;
}

@media screen and (max-width: 1025px){
  #timeline{
      display:block;
      margin-top:0;

      &:hover {
        .tl-item {
          height:30vh;
          width:100%;
        }
      }
  }
  .tl-item{
      width:100%;
      height: 33.3333vh;
      min-height: 0px;
      transition: height 0.5s ease;
      box-shadow: 0 -5px 15px 0px rgba(0,0,0,0.6);

      &:hover {
          width: 100% !important;
          height:65vh !important;

          .tl-year{
              top:20%;
          }
      } 
  }
  .tl-content{
      top:30%;
      margin: 0 1em;

      h1{
        font-size: 1.8rem;
      }
      p{
        font-size: 1.4rem;
      }
  }
  .double{
    width:50%;
  }
  .tl-year{
    top:40%;
  }
  .tl-logo{
    top:70%;
    height:20%;
  }
  .l-ge{
    height:25%;
  }
}

@media screen and (max-width: 770px){
  #timeline{
    margin-top: 0;
  }
  .tl-content{
    top:30%;
    margin: 0 1em;

    h1{
      font-size: 1.20rem;
    }
    p{
      font-size: 1rem;
    }
  }
}
  