<section id="main">
  <app-menu></app-menu>
<section id="timeline">

          <div class="tl-item">
            
            <div class="tl-bg" style="background-image: url('../../assets/images/ge.jpg')"></div>
            
            <div class="tl-year double">
              <p class="f2 heading--sanSerif">2021 - 2018</p>
            </div>

           
            <div class="tl-logo l-ge" style="background-image: url('../../assets/images/logo-ge.png')"></div>
        
            <div class="tl-content">
              <h1 class="f3 text--accent ttu">Apprenti informaticien General Electric</h1>
              <p>(Septembre 2018 - Août 2021)<br />Belfort, France<br />GE Power, Monitoring & Diagnostic<br /><br />● Apporter des solutions pour l'automatisation des tâches<br />● Dévelopement de script pour la mise en forme de données<br />● Créer et tester des outils sur la Predix GE</p>
            </div>
        
          </div>
        
          <div class="tl-item">
            
            <div class="tl-bg" style="background-image:  url('../../assets/images/test.jpg')"></div>
            
            <div class="tl-year">
              <p class="f2 heading--sanSerif">???</p>
            </div>
        
            <div class="tl-content">
              <h1 class="f3 text--accent ttu">Expérience à l'étranger</h1>
              <!--<p>(Septembre 2018 - Août 2021)<br />Equipe Monitoring & Diagnostic<br /><br />● Apporter des solutions pour l'automatisation des tâches<br />● Dévelopement de script pour la mise en forme de données<br />● Créer et tester des outils sur la Predix GE</p>-->
            </div>
        
          </div>
        
          <div class="tl-item">
            
            <div class="tl-bg" style="background-image: url('../../assets/images/itq9.jpg')"></div>
            
            <div class="tl-year">
              <p class="f2 heading--sanSerif">2019</p>
            </div>
            <div class="tl-logo l-itq9" style="background-image: url('../../assets/images/logo-itq9.png')"></div>
            <div class="tl-content">
              <h1 class="f3 text--accent ttu">Stagiaire développeur front-end itQ9</h1>
              <p>(Mai 2019 - Juin 2019)<br />Dartington, Angleterre<br /><br />● Création de sites web pour particulier<br />● Analyser la demande et établir le cachier des charges<br />● Développement front-end sous Wordpress (Divi theme)</p>
            </div>
        
          </div>

          <div class="tl-item">
            
            <div class="tl-bg ixblue" style="background-image: url('../../assets/images/ixblue.jpg')"></div>
            
            <div class="tl-year">
              <p class="f2 heading--sanSerif">2018</p>
            </div>

            <div class="tl-logo l-ixblue" style="background-image: url('../../assets/images/logo-ixblue.svg')"></div>
        
            <div class="tl-content">
              <h1 class="f3 text--accent ttu">Stagiaire R&D optique iXblue</h1>
              <p>(Avril 2018 - Août 2018)<br />Saint-germain-en-Laye, France<br />Equipe Recherche et Développement<br /><br />● Étude d'un composant du Gyroscope à fibre optique<br />● Fibrages de Mach-Zehnder<br />● Interprétation et présentation des résultats devant une équipe</p>
            </div>
        
          </div>
        
      
        </section>
        
</section>