.center-pills{
    display: flex;
    justify-content: center;
  }
  
  #pills-tab{
    z-index: 4;
    width: 100%;
    background-color: #03396c;
  }
  
  #pills-home-tab{
    position:relative;
    padding-right: 50px;
  }
  .nav-main-item{
    margin-top:auto;
    margin-bottom: auto;
  }
  
  .tab-content{
    margin-top: 5%;
  }
  
  .nav-link.active{
    background-color: transparent;
    position: relative;
    display: inline-block;
  }
  
  .nav-link.active::before{
    content: "";
    border-bottom: 3px solid;
    -webkit-border-image: -webkit-linear-gradient(left,#f6d365 0%, #fda085 100%) 10 10 10 10;
    width: 110%;
    position: absolute;
    right: -5%;
    bottom: 5%;
  }
  
  .nav-item{
    //font-family: 'Lobster', cursive;
    font-size: 26px;
    font-weight: normal;
    margin: 2% 1% 2% 1%;
  }
  
  .nav-item-s{
  font-size: 20px;
  position: relative;
  text-align: right;
  padding-right: 15px;
  }
  
  @media screen and (max-width: 1100px){
  .nav-item {
    font-size: 12px;
  }
  #pills-tab {
    display:none;
  }
  }
  
  @media screen and (min-width: 1100px){
  .navbar{
    display: none;
  }
  }
  
  .navbar{
  background-color: #03396c;
  }
  
  .navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=fff');
  }
  
  a{
    color: #fff;
  }
  
  .nav-link:hover{
    color: #5b8df3;
  }
  
  .editorial {
    width: 100%;
    height: 10%;
    min-height: 30px;
    max-height: 50px;
    margin: 0;
    z-index:5;
    background-color: #03396c;
    //box-shadow: 0 3px 1px 0px rgba(0, 0, 0, 0.2);
  }
  
  .parallax1 > use {
    animation: move-forever1 10s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax2 > use {
  animation: move-forever2 8s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax3 > use {
    animation: move-forever3 6s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  .parallax4 > use {
  animation: move-forever4 4s linear infinite;
    &:nth-child(1) {
      animation-delay: -2s;
    }
  }
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }