
.nav{
    background-color:rgba(0,0,0,0.55);
    display: flex;
    justify-content: center;
    min-height: 60px;
    z-index: 5;
}

.nav-item{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
    margin-left: 1%;
}

.logo{
    position:relative;
    padding-right: 40px;
}

.nav-link{
    font-family: comfortaa;
    font-size: 1.5vw;
    color: #FFF;
    text-shadow: 2px 2px 2px black;
}


.nav-item-burger{
    margin-top: 0.5%;
    margin-bottom: 1.5%;
    padding-top: 1%;
    margin-right:auto;
    margin-left: auto;
    position: relative;
    text-align: center;
}


.nav-link-burger{
    font-family: comfortaa;
    font-size: 3vh;
    color: #FFF;
    text-shadow: 2px 2px 2px black;
}

.navbar{
    background-color:rgba(0,0,0,0.55);
}

.navbar .navbar-toggler-icon {
    background-image: url(../../assets/images/hamburger1.svg);
}

.navbar-brand{
    padding-left:5%;
}

@media screen and (max-width: 1025px){
    .nav{
      display:none;
    } 
}
    
@media screen and (min-width: 1025px){
    .navbar{
      display: none;
    }
}

.colapse:active{
    background-color: red;
}
.active-link-cyan{
    color: #31BCCC;
}
.active-link-lightblue{
    color: rgb(193, 239, 255);
}
.active-link-darkblue{
    color: #5675a7;
}
.active-link-yellow{
    color: #FFDD83;
}


.nav-link-burger:hover{
    text-decoration: none;
}
.exp:hover{
    color: #5675a7;
}

.form:hover{
    color: rgb(193, 239, 255);
}

.prop:hover{
    color: #31BCCC;
}

.comp:hover{
    color: #FFDD83;
}
