<!-- NAVBAR -->
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link logo" href="#!"><img src="../../assets/images/logo-RP.png"
                style="width:40px; height: 40px;"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Expériences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Formations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Compétences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">Projets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!">À propos</a>
    </li>
</ul>
<!-- NAVBAR -->

<!-- BURGER MENU -->
<nav class="navbar">
    <a class="navbar-brand" href="#"><img src="../../assets/images/logo-RP.png"
        style="width:40px; height: 40px;"></a>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
        aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item-burger">
                <a class="nav-link-burger" href="#!">Expériences</a>
            </li>
            <li class="nav-item-burger">
                <a class="nav-link-burger" href="#!">Formations</a>
            </li>
            <li class="nav-item-burger">
                <a class="nav-link-burger" href="#!">Compétences</a>
            </li>
            <li class="nav-item-burger">
                <a class="nav-link-burger" href="#!">Projets</a>
            </li>
            <li class="nav-item-burger">
                <a class="nav-link-burger" href="#!">À propos</a>
            </li>
        </ul>
    </div>
</nav>
<!-- BURGER MENU -->