<!--Navbar-->
<nav class="navbar">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
      aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../../app/app.component.html/#pills-home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../app/app.component.html/#pills-formation">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->

  <div class="bs-example">
      <nav class="nav nav-pills flex-column">
          <a href="#" class="nav-item nav-link active">
              <i class="fa fa-home"></i> Home
          </a>
          <a href="#" class="nav-item nav-link">
              <i class="fa fa-user"></i> Profile
          </a>
          <a href="#" class="nav-item nav-link">
              <i class="fa fa-envelope"></i> Messages
          </a>
          <a href="#" class="nav-item nav-link disabled" tabindex="-1">
              <i class="fa fa-line-chart"></i> Reports
          </a>
      </nav>
  </div>