<section id="main">
        <div class="menu-row">
                <app-menu></app-menu>
        </div>
        <div class="row">
                <div class="col-md-1"></div>
                <div class="col">
                        <div class="container">
                                <section id="timeline">
                                        <article>
                                                <div class="inner">
                                                        <span class="date">
                                                                <span class="month">Jan</span>
                                                                <span class="year">2014</span>
                                                        </span>
                                                        <h2>The Title</h2>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aenean quis rutrum nunc, eget dictum massa. Nam faucibus
                                                                felis nec augue adipiscing, eget commodo libero mattis.
                                                        </p>
                                                </div>
                                        </article>
                                        <article>
                                                <div class="inner">
                                                        <span class="date">
                                                                <span class="month">Jan</span>
                                                                <span class="year">2014</span>
                                                        </span>
                                                        <h2>The Title</h2>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aenean quis rutrum nunc, eget dictum massa. Nam faucibus
                                                                felis nec augue adipiscing, eget commodo libero mattis.
                                                        </p>
                                                </div>
                                        </article>
                                        <article>
                                                <div class="inner">
                                                        <span class="date">
                                                                <span class="month">Jan</span>
                                                                <span class="year">2014</span>
                                                        </span>
                                                        <h2>The Title</h2>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aenean quis rutrum nunc, eget dictum massa. Nam faucibus
                                                                felis nec augue adipiscing, eget commodo libero mattis.
                                                        </p>
                                                </div>
                                        </article>
                                        <article>
                                                <div class="inner">
                                                        <span class="date">
                                                                <span class="month">Jan</span>
                                                                <span class="year">2014</span>
                                                        </span>
                                                        <h2>The Title</h2>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aenean quis rutrum nunc, eget dictum massa. Nam faucibus
                                                                felis nec augue adipiscing, eget commodo libero mattis.
                                                        </p>
                                                </div>
                                        </article>
                                        <article>
                                                <div class="inner">
                                                        <span class="date">
                                                                <span class="month">Jan</span>
                                                                <span class="year">2014</span>
                                                        </span>
                                                        <h2>The Title</h2>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aenean quis rutrum nunc, eget dictum massa. Nam faucibus
                                                                felis nec augue adipiscing, eget commodo libero mattis.
                                                        </p>
                                                </div>
                                        </article>
                                </section>
                        </div>
                </div>
                <div class="col-md-3" id="perso"><img id="perso1" src="../../assets/images/perso-formation.png"></div>
        </div>
</section>