<app-menu></app-menu>
<section id="main">
                
            <section id="timeline">
  
                        <div class="tl-item">
                          
                          <div class="tl-bg utbm" style="background-image: url('../../assets/images/utbm.jpg')"></div>
                          
                          <div class="tl-year">
                            <p class="f2 heading--sanSerif">2021 - 2018</p>
                          </div>
                    
                      
                          <div class="tl-content">
                            <h1>École d'ingénieur informatique</h1>
                            <p><br />UTBM (Université de Technologie Belfort-Montbéliard) <br /> Informatique et Systèmes d'informations</p>
                          </div>
                      
                        </div>
                      
                        <div class="tl-item">
                          
                          <div class="tl-bg iut" style="background-image:  url('../../assets/images/iut.jpg')"></div>
                          
                          <div class="tl-year">
                            <p class="f2 heading--sanSerif">2018 - 2016</p>
                          </div>
                      
                          <div class="tl-content">
                            <h1 class="f3 text--accent ttu">DUT Mesures Physiques</h1>
                            <p><br />IUT Paris Diderot, 13ème arondissement <br /> Option Informatique et Acoustique</p>
                          </div>
                      
                        </div>
                      
                        <div class="tl-item">
                          
                          <div class="tl-bg lycee" style="background-image: url('../../assets/images/lycee.jpg')"></div>
                          
                          <div class="tl-year">
                            <p class="f2 heading--sanSerif">2016</p>
                          </div>
                      
                          <div class="tl-content">
                            <h1 class="f3 text--accent ttu">Baccalauréat scientifique</h1>
                            <p><br />Lycée les Pierres Vives, Carrières sur Seine <br /> Spécialité Physique-chimie</p>
                          </div>
                      
                        </div>
                      
                    
                      </section>
                      
    </section>