<app-menu></app-menu>
<section id="main">

  <div class="container">
    <div class="text presentation"></div>
    <div class="text contact"></div>
    <div class="text social"></div>
  </div>


  <section id="timeline">
    <div class="tl-item">
      <div class="tl-bg utbm" style="background-image: url('../../assets/images/demineur.PNG')"></div>
      <div class="tl-year">
        <p class="f2 heading--sanSerif">Jeu - Démineur</p>
      </div>


      <div class="tl-content">
        <h1></h1>
        <p><br /><br /></p>
      </div>

    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image:  url('../../assets/images/graph-fsr.png')"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Graph - FSR</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu"></h1>
        <p><br /> <br /></p>
      </div>

    </div>

    <div class="tl-item">

      <div class="tl-bg" style="background-image: url('../../assets/images/site-cv.PNG')"></div>

      <div class="tl-year">
        <p class="f2 heading--sanSerif">Site - CV</p>
      </div>

      <div class="tl-content">
        <h1 class="f3 text--accent ttu"></h1>
        <p><br /><br /></p>
      </div>
    </div>
  </section>

</section>
