
<section>
    <div class="menu-row">
        <app-menu></app-menu>
    </div>

        <div class="row">
            <div class="col-md-5">
                <!--<img class="profil" src='../../assets/images/photo-moi.png'>-->
            </div>
            <div class="col">
                <div class= "container experiences">
                </div>
                <div class= "container formations">
                </div>
                <div class= "container competences">
                    </div>
                    <div class= "container apropos">
                        </div>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
</section>